/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-abr-2020, 18:07:44
    Author     : 2jesu
*/
.button {
    -fx-background-radius: 100;
}

.label {
    -fx-font-family: 'Calibri';
}
.button-dia {
    -fx-border-radius: 100;
    -fx-border-color: #b6bab7;
    -fx-text-fill: white;
    -fx-background-color: #a8a7a3;
}
.button-dia:hover {
    -fx-background-color: #43ad58;
}
.celda-general {
    -fx-border-color: #b4b3b5;
    -fx-background-insets: 1 1 1 1;
    -fx-alignment: center;
}
.celda-ocupada{
    -fx-background-color: #fc5849;
}

.celda-lliure-impar{
    -fx-background-color: #aaf296;
}

.celda-lliure-par{
    -fx-background-color: #b1ff9b;
}

.celda-passada {
    -fx-background-color: grey;
    
}

.celda-meua {
    -fx-background-color: #ffca2b;
}

.celda-lliure-par:hover {
    -fx-background-color: orange;
}

.celda-lliure-impar:hover {
    -fx-background-color: orange;
}

.columna-hores {
    -fx-background-color: #f1c9ff;
  
}

.back {
    -fx-border-radius: 100;
    -fx-border-color: black;
    -fx-background-radius: 100;
    -fx-background-color: #3ccde0;
}

.back:hover {
    -fx-background-color: #2ea9ba;
}

.titol {
    -fx-background-color: #fccf3c;
    -fx-font-family: 'Nirmala';
    -fx-font-size: 30pt;
}

.vbox {
    -fx-background-color: white;
}

.preview {
    -fx-font-size: 14pt;
    -fx-text-fill: #8518a3;
    -fx-font-weight: bold;
}

.table-view .column-header {
    
    -fx-background-color: #969696;
}

.table-view .column-header-background .label{
    -fx-background-color: #dedfe0;
    -fx-text-fill: #484a4c;
    -fx-font-size: 15pt;
  
}