/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-abr-2020, 12:20:17
    Author     : 2jesu
*/
.label {
    -fx-font-family: 'Calibri';
    -fx-font-size: 13pt;
}
.asterisc {
    -fx-text-fill: red;
}
.scroll-pane {
    -fx-background-color: blue;
}
.titol {
    
    -fx-font-size: 18pt;
}
.button {
    -fx-background-color: #88ef3e;
    -fx-background-radius: 20;
}
.button:hover {
    -fx-text-fill: white;
    -fx-background-color: #70bc3a;
}
.text-field{
    -fx-background-radius: 10;
}

.titols {
    
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}

.errors {
    -fx-text-fill: red;
}

.header {
    -fx-background-color: #8c8c8c;
    -fx-text-fill: white;
}
@font-face {
  
   src: url('Roboto-Regular.ttf');
}

@font-face {
   src: url('Roboto-Bold.ttf');
}
